.btn {
    padding: 12px 31px;
    font-family: "Open-Sans", "Tahoma", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #fff;
    background-color: #0058ba;
    border-radius: 50px;
}