.container {
    box-sizing: border-box;
    min-height: 523px;
    padding: 45px 27px;
    padding-bottom: 0;
}

@media(max-width: 520px) {
    .container {
      min-height: 450px;
      padding: 30px 15px;  
    }  
}