.main {
    width: 638px;
    font-size: 13px;
    background-color: #f7f8f8;

    & input,
    & select {
        cursor: pointer;
        border: 1px solid #e4e9ee;

        &:hover {
            border-color: #acb2b8;
        }
    }
}

.main__wrapper > * {
    display: none;
}

.main__item {
    margin-bottom: 42px;
}

.main__info {
    padding-top: 22px;
    padding-bottom: 32px;
    padding-left: 30px;
    padding-right: 42px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    font-family: 'Arial', sans-serif;
    color: #7f8591;
    background-color: #373c43;

    & p {
        margin-top: 0;
        margin-bottom: 10px;
    }

    & p:last-child {
        margin-bottom: 0px;
    }
}

.main__wrapper .main__item--active {
    display: block;
}

.main__payment label {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Arial', sans-serif;
    color: #8494ab;
}

.main__card-title {
    margin-top: 11px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Arial', sans-serif;
    color: #8494ab;
}

.main__payment-account td:first-child,
.main__payment-amount td:first-child  {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    color: #8494ab;
}

.main__info-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    color: #8494ab;
}

table {
    border-collapse: collapse;
}

.main__payment td {
    line-height: 25px;
}

.main__payment td:first-child {
    padding-right: 37px;
}

.main__payment-title {
    margin-top: 27px;
    font-family: "Open-Sans", "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}

.main__card-number {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 352px;
    padding: 24px 15px;
    padding-bottom: 14px;
    margin-bottom: 38px;
    border: 1px solid #e5eaef;
    border-radius: 10px;
    background-color: #f7f8f8;
    box-shadow: -30px -30px 20px -30px rgba(0,0,0,0.2);
    z-index: 2;

    & input[name^="serial"] {
        display: inline-block;
        box-sizing: border-box;
        width: 65px;
        padding: 9px 12px;
        margin-top: 7px;
        margin-right: 5px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: #8494ab;

        &:last-of-type {
            margin-right: 0;
        }
    }

    & fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    & legend {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        font-family: 'Arial', sans-serif;
        color: #8494ab;
    }
}

.main__card-wrapper {
    position: relative;
    display: inline-block;
}

.main__card-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 366px;
    height: 235px;
    left: 200px;
    top: 27px;
    border: 1px solid #e5eaef;
    border-radius: 10px;
}

.main__card-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 366px;
    height: 42px;
    left: 201px;
    top: 52px;
    background-color: #e4e9ee;
}

.main__card-holder {
    margin-top: 13px;
}

.main__card-holder input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 12px; 
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #8494ab;
}

.main__cvv {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 108px;
    margin-left: 56px;
    z-index: 2;
    
    & > * {
        display: block;
    }

    & > input {
        box-sizing: border-box;
        width: 138px;
        height: 40px;
        padding-left: 20px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: #8494ab;
        background: #fff url('../img/tooltip.png') no-repeat 92% 5px;
    }
}

.main__submit {
    display: block;
    margin-left: 14px;
}

.main__select-wrapper {
    margin: 0;
    position: relative;
    width: 70px;
    display: inline-block;
    vertical-align: top;
    font-size: 0; 
    z-index: 1;
    overflow: hidden;
}

.main__select-wrapper::before {
    content:"";
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 5px;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #e4e9ee;
    border-left: 1px solid #e4e9ee;
    border-bottom: 1px solid #e4e9ee;
}

.main__select-wrapper:hover::before {
    border-top: 1px solid #acb2b8;
    border-left: 1px solid #acb2b8;
    border-bottom: 1px solid #acb2b8;
}

.main__select-wrapper::after {
    content:"";
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 5px;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #e4e9ee;
    border-right: 1px solid #e4e9ee;
    border-left: none;
    border-bottom: 1px solid #e4e9ee;
}

.main__select-wrapper:hover::after {
    border-top: 1px solid #acb2b8;
    border-right: 1px solid #acb2b8;
    border-left: none;
    border-bottom: 1px solid #acb2b8;
} 

.main__expire-date {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    display: inline-block;
    position: relative;
    margin: 0;
    padding-left: 15px;
    width: 90px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    border-color: #e4e9ee;
    color: #000000;
    outline: none;
    background: #fff url('../img/arrow_down.png') no-repeat;
    background-position: 65% 15px;
}

.main__select-wrapper--year {
    width: 84px;

    & > .main__expire-date {
        width: 100px;
        background-position: 70% 15px;
    }
}

.main__select-wrapper--month {
    margin-right: 7px;
}

@media(max-width: 1000px) {
    .main {
        width: 420px;
    }

    .main__cvv {
        margin-top: 106px;
        margin-left: -160px;
    }

    .main__card-wrapper::after,
    .main__card-wrapper::before {
        display: none;
    }
}

@media(max-width: 720px) {
    .main {
        width: 100%;
    }

    .main__card-wrapper::before {
        display: block;
        left:61px;
    }

    .main__card-wrapper::after {
        display: block;
        left:60px;
    }
}

@media(max-width: 520px) {

    .main__card-wrapper::after,
    .main__card-wrapper::before {
        display: none;
    }

    .main__card-wrapper {
        width: 260px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .main__item {
        margin-bottom: 10px;
    }

    .main__info-title {
        font-size: 16px;
    }

    .main__payment-account td:first-child, 
    .main__payment-amount td:first-child {
        font-size: 13px;
    }

    .main__payment td {
        font-size: 13px;
    }

    .main__payment-title {
        font-size: 16px;
    }

    .main__payment label,
    .main__card-title,
    .main__card-holder input {
        font-size: 14px;
    }

    .main__card-number {
        width: 100%;
        margin-bottom: 0;
        padding: 24px 5px;
        box-shadow: none;
    }

    .main__card-number input[name^="serial"] {
        width: 50px;
        padding: 4px 5px;
        margin-right: 2px;
        font-size: 14px;
    }

    .main__expire-date {
        padding-left: 5px;
        font-size: 14px;
    }

    .main__select-wrapper--month {
        width: 45px;
        margin-right: 0px;
    }

    .main__select-wrapper--year {
        width:65px;
    }

    .main__select-wrapper--month > .main__expire-date {
        background-position: 35% 15px;
    }

    .main__select-wrapper--year > .main__expire-date {
        background-position: 50% 15px;
    }

    .main__cvv {
        margin-left: -130px;
        margin-top: 97px;
    }

    .main__cvv > input {
        width: 80px;
        padding-left: 10px;
        font-size: 14px;
        background: #fff url("../img/tooltip.png") no-repeat 92% 9px;
        background-size: 20px 20px;
    }

    .main__submit {
        margin: 0 auto;
    }
}