.main {
    width: 638px;
    font-size: 16px;
    background-color: #f7f8f8;

    & input,
    & select {
        cursor: pointer;
        border: 1px solid #e4e9ee;
    }
}

// input:not([type="submit"]) {
//     border-color: #e4e9ee;
// }

// input:not([type="submit"]):hover {
//     border-color: #c2c7cc;
// }


.main__wrapper > * {
    display: none;
}

.main__item {
    margin-bottom: 45px;
}

.main__info {
    padding-top: 45px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    font-family: 'Arial', sans-serif;
    color: #7f8591;
    background-color: #373c43;

    & p {
        margin-bottom: 15px;
    }

    & p:last-child {
        margin-bottom: 0px;
    }
}

.main__wrapper .main__item--active {
    display: block;
}

.main__payment label {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Arial', sans-serif;
    color: #8494ab;
}

.main__card-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    font-family: 'Arial', sans-serif;
    color: #8494ab;
}

.main__payment-account td:first-child,
.main__payment-amount td:first-child,
.main__payment th {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    font-family: 'Arial', sans-serif;
    color: #8494ab;
}

.main__payment-title {
    font-family: "Open-Sans", "Tahoma", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}

.main__card-number {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 348px;
    padding: 23px 15px;
    margin-bottom: 45px;
    border: 1px solid #e5eaef;
    border-radius: 10px;
    background-color: #f7f8f8;
    box-shadow: -30px -30px 20px -30px rgba(0,0,0,0.2);
    z-index: 2;

    & input[name^="serial"] {
        box-sizing: border-box;
        width: 68px;
        padding: 10px 13px;
        margin-top: 7px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: #8494ab;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.main__card-wrapper {
    position: relative;
    display: inline-block;
}

.main__card-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 370px;
    height: 235px;
    left: 200px;
    top: 50px;
    border: 1px solid #e5eaef;
    border-radius: 10px;
}

.main__card-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 370px;
    height: 42px;
    left: 201px;
    top: 75px;
    background-color: #e4e9ee;
}

.main__card-holder {
    margin-top: 10px;
}

.main__card-holder input {
    padding: 12px 12px; 
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #8494ab;
}

.main__cvv {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 130px;
    margin-left: 50px;
    z-index: 2;
    
    & > * {
        display: block;
    }

    & > input {
        box-sizing: border-box;
        width: 138px;
        height: 40px;
        padding-left: 20px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: #8494ab;
        background: #fff url('../img/tooltip.png') no-repeat 92% 5px;
    }
}

.main-submit {
    display: block;
}

.main__select-wrapper {
    margin: 0;
    position: relative;
    width: 70px;
    display: inline-block;
    vertical-align: top;
    font-size: 0; 
    z-index: 1;
    overflow: hidden;
}

.main__select-wrapper::before {
    content:"";
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 5px;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #e4e9ee;
    border-left: 1px solid #e4e9ee;
    border-bottom: 1px solid #e4e9ee;
}

.main__select-wrapper::after {
    content:"";
    box-sizing: border-box;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 5px;
    height: 40px;
    background-color: #fff;
    border-top: 1px solid #e4e9ee;
    border-right: 1px solid #e4e9ee;
    border-left: none;
    border-bottom: 1px solid #e4e9ee;
}

.main__expire-date {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    position: relative;
    margin: 0;
    width: 90px;
    height: 40px;
    text-indent: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    border-color: #e4e9ee;
    color: #000000;
    outline: none;
    background: #fff url('../img/arrow_down.png') no-repeat;
    background-position: 65% 15px;
}

.main__select-wrapper--year {
    width: 80px;

    & > .main__expire-date {
        width: 100px;
        background-position: 70% 15px;
    }
}
