html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
}

body {
    font-family: "Open-Sans", "Tahoma", sans-serif;
    min-width: 320px;
}

main {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.form-error ul {
    padding-left: 25px;
    margin-bottom: 30px;
    color: red;
}
